#MainContent {
    padding: 2vh 3vw;
    transition: width 0.3s ease, margin-left 0.3s ease; /* Transiciones suaves */
    background-color: gray;
    height: calc(100vh - 13.4vh);
    display: grid;
}

/* Ajuste según el estado del sidebar */
.sidebar-visible {
    width: calc(100% - 13vw); /* Resta el espacio ocupado por el sidebar */
}

.sidebar-hidden {
    width: 105%; /* Ocupa más espacio cuando el sidebar está cerrado */
    margin-left: -10vw; /* Ajusta la posición */
}

/* Contenedor principal de las cards */
.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    grid-gap: 2vw; /* Espacio entre las cards */
    justify-items: center;
}

/* Estilo base para cada card */
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100%;
    background-color: #e0e0e0; /* Color claro */
    color: black;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Efecto hover para mejorar la interactividad */
.card:hover {
    background-color: rgb(130, 130, 130); /* Color al pasar el mouse */
    color: white;
    transform: scale(1.05); /* Efecto de zoom */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}
