/* MainExpedientesSecundarios.css */

#MainExpedientesSecundarios {
    padding: 1.5vw 3vh;
    background-color: #f0f0f0; /* Color de fondo general */
    display: flex;
    flex-direction: column;
    border-radius: 8px; /* Bordes redondeados */
    width: 100%; /* Asegura que ocupe el ancho completo disponible */
}

#Encabezado {
    background-color: #4a4a4a; /* Color de fondo del encabezado */
    padding: 10px;
    border-radius: 8px 8px 0 0; /* Bordes redondeados solo en la parte superior */
    color: white; /* Color de texto blanco para contraste */
}

#EncabezadoTabla {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filtroContainer {
    display: flex;
    align-items: center;
}

#filtro {
    border-radius: 5px;
    padding: 5px 10px;
    transition: width 0.3s ease; /* Transición suave para el cambio de tamaño */
    width: 120px; /* Tamaño inicial */
    border: 1px solid #ccc; /* Borde del campo de búsqueda */
}

#filtro.expanded {
    width: 300px; /* Tamaño expandido */
}

#lupa {
    width: 20px; /* Ajusta el tamaño de la lupa */
    margin-left: 5px; /* Espacio entre la lupa y el campo de búsqueda */
}

#CuerpoTabla {
    margin-top: 10px;
    background-color: white; /* Fondo blanco para la tabla */
    padding: 20px;
    border-radius: 0 0 8px 8px; /* Bordes redondeados solo en la parte inferior */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde de las celdas */
    text-align: left;
}

th {
    background-color: #f2f2f2; /* Fondo claro para encabezados */
}

#Paginacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#Botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 15px; /* Espaciado interno */
    background-color: #007bff; /* Color de fondo de los botones */
    color: white; /* Color de texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

button:hover {
    background-color: #0056b3; /* Color al pasar el mouse */
}

#Paginacion button {
    margin-left: 10px; /* Espaciado entre botones de paginación */
}
